# For imported git submodules, don't apply style analyzers

[*.{cs,csx,vb,vbx,h,cpp,idl}]
dotnet_analyzer_diagnostic.severity = none

[*.cs]
dotnet_diagnostic.DOC104.severity = silent
dotnet_diagnostic.SYSLIB0051.severity = silent # Type or member is obsolete
